<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./master.css">
  <title>Vue BoolFlix</title>
  <style>
  [v-cloak] {
    display: none;
  }
  </style>
</head>

<body>
  <div id="root" v-cloak>
    <header>
      <div class="emblema">
        <span>BoolFlix</span>
      </div>
      <div class="search-film">
        <input type="text" v-model="title" @keypress.enter="searchFilm" >
        <button type="button" name="button" @click="searchFilm">Premi</button>
      </div>
      <ul>
        <li><a href="#">Film</a></li>
        <li><a href="#">Serie Tv</a></li>
        <li><a href="#">Originali</a></li>
        <li><a href="#">Recenti</a></li>
        <li><a href="#">La mia lista</a></li>
      </ul>
    </header>
    <main>
        <div class="flip-card" v-for="film in films">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img :src="`${urlBase}original/${film.poster_path}`" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <img src="`${urlBase}original/&{film.backdrop_path}`" alt="">
              <div class="card-back-info">
                <h4>{{getTitle(film)}}</h4>
                <p>{{getOriginalTitle(film)}}</p>
                <p><img v-if="film.original_language" :src="`./img/${film.original_language}.png`" alt=""></p>
                <p>{{film.vote_average}}</p>
              </div>
          </div>
        </div>
      </div>
    </main>




  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js" charset="utf-8"></script>
</body>

</html>
